*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial,sans-serif
}

body{
    height: 100vh;
    background-color: #202124;
}


header{
display: flex;
justify-content: end;
height: 60px;
padding: 0 18px;
/*background-color: rgb(85, 179, 179);*/
}

header .menuderecha { 
display: flex;
gap: 12px;
align-items: center;
/*background-color: indigo;*/
}

header .menuderecha a { 
text-decoration: none;
color: whitesmoke;
}

header .menuderecha a img{
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.dots-logo{
    display: inline-block;
    background-image: url(./assets/dots-logo.svg);
    height: 24px;
    width: 24px;
}

.lupa-buscador{
    display: inline-block;
    background-image: url(./assets/logo-lupa.svg);
    height: 32px;
    width: 32px;

}

main {
    height: calc(100% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
       /*background-color: aqua;*/
}
   
main .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    /*background-color: blueviolet;*/
}

main .contenedor figure{
    height: 92%;
}

main .contenedor figure img{
    height: 100%;
}

main .contenedor .buscador{
    display: flex;
    height: 40px;
    width: 450px;
    background-color: aquamarine;
    padding: 8px;
}

main .contenedor .buscador input{
    width: 100%;    
}


main .contenedor .botonera-buscador{
    display: flex;
    gap: 12px;
}


main .contenedor .botonera-buscador button{
    border: none;
    background-color: #303134;
    color: whitesmoke;
    padding: 12px;
    border-radius: 4px;    
}


   

main .contenedor p {
    color: whitesmoke;
    font-size: small;
    
}
 