*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial,sans-serif
}

body{
    height: 100vh;
    background-color: #202124;
}


header{
display: flex;
justify-content: end;
height: 60px;
padding: 0 18px;
/*background-color: rgb(85, 179, 179);*/
}

header .menuderecha { 
display: flex;
gap: 19px;
align-items: center;
/*background-color: indigo;*/
}

header .menuderecha a { 
text-decoration: none;
color: whitesmoke;
font-size: small;
}

header .menuderecha a img{
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.dots-logo{
    display: inline-block;
    background-image: url(./assets/dots-logo.svg);
    height: 24px;
    width: 24px;
}

.lupa-buscador{
    display: inline-block;
    background: no-repeat;
    background-image: url(./assets/logo-lupa.svg);
    height: 20px;
    width: 20px;
}

.buscador-microfono{
    display: inline-block;
    background: no-repeat;
    background-image: url(./assets/logo-micro.svg);
    height: 32px;
    width: 32px;
}

.buscador-camara{
    display: inline-block;
    background-image: url(./assets/logo-camara.svg);
    height: 32px;
    width: 32px;
    background-size: cover;

}


main {
    height: calc(100% - 60px - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
       /*background-color: aqua;*/
}
   
main .contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    /*background-color: blueviolet;*/
}

main .contenedor figure{
    height: 92%;
}

main .contenedor figure img{
    height: 100%;
}

main .contenedor .buscador{
    gap: 8px;
    align-items: center;
    display: flex;
    height: 40px;
    width: 460px;
    padding: 8px 12px;
    border: 1px solid gray; 
    border-radius: 24px;
}

main .contenedor .buscador input{
    width: 100%;
    background-color: transparent;
    color: whitesmoke;
    border: none;
        
}


main .contenedor .botonera-buscador{
    display: flex;
    gap: 10px;
}


main .contenedor .botonera-buscador button{
    border: none;
    background-color: #303134;
    color: whitesmoke;
    padding: 12px;
    border-radius: 4px;
}

footer{
    background: rgb(17, 17, 17);
    height: 90px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

footer section{
    display: flex;
    align-items: center;
    height: 50%;
    color: whitesmoke;
}

footer section hr .linea {
    background-color: turquoise;
}

footer section .Info{
    display: flex;
    justify-content: space-between;
}

footer section .Info div a{
    display: flex;
    gap: 10px;
}

